header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
  }
  /* Nav bar CSS Design*/
  #nav-bar{
    max-width:100%;
    height:4.5em;
  }
  a{
    text-decoration:none;
    padding:5px 20px 5px 20px;
    float:right;
    font-size:1.2em;
   
    color:black;
    
    margin-left:5px;
    margin-right:10px;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  a:hover{
    color:red;
  }
  li{
    list-style:none;
    display:inline;
    margin-top:-4em;
  }
  
  ul{
    
    display:flex;
    position: block;
    justify-content:flex-end;
   
  }
  @media (max-width:600px){
    a{
    
      
    }
    #nav-bar{
      padding:.1em;
      height:8em;
      background:white;
    }
    .bar{
      display:flex;
      justify-content:space-around;
     
    }
    ul{
      display:flex;
      justify-content:center;
      
    }
    
    
    /* Logo CSS Work*/
  
  .logo{
    display:flex;
    position:block;
    max-width:200px;
}
}
  
  @media (max-width: 600px) {
    .logo {
      margin-top: 15px;
      margin-bottom: 2em;
      width: 100%;
      position: relative;
      margin-left:auto;
      margin-right:auto;
      padding-bottom:15px;
      
    }
  }
  
  #nav-bar{
    display:flex;
    position:fixed;
    
  }
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  /*Section1 CSS design*/
  #first{
    display:block;
    padding-top:30px;
    margin-top:6em;
    margin-bottom:12.1em;
  }
  @media (max-width:600px){
    #first{
      margin-top:8em;
      margin-bottom: 2em;
    }
  }
  h6{
    text-align:center;
    text-decoration-style: wavy;
  }
  .head-p1{
    font-family: 'Vesper Libre', serif;
    font-size:1.2em;
    display: block;
    border:1px solid #ccc;
    box-shadow:0 0 10px;
    padding:20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:10px;
    text-align:center;
    vertical-align: middle;
    transition: all 2s, transform .5s, box_shadow .5s;
    
  }
  .head-p2{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    line-height:25px;
    padding:2em;
    margin-bottom:3em;
    text-shadow: .5px .5px 1px grey;
  }
  .head-p1:hover{
    box-shadow: 6px 6px 20px rgba(0,0,0,.6);
    transform:scale(1.04);
  }
  @media (max-width:600px){
    .head-p2{
      text-align:justify;
      font-size:14px;
    }
  }
  
  /*Section 2*/
  /*Section 2 CSS Design*/
  
  .poetry{
   position: relative;
   display:flex;
   text-align:center;
   margin:10px;
   justify-content:space-between;
    margin:o;
    padding:0;
    overflow:hidden;
  }
  
  .a{
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    background:#ddd;
    width:32%;
    height:300px;
    border:1px solid #aaa;
    box-shadow: 5px 5px 10px grey;
    margin:.5%;
    vertical-align: middle;
    transition: all 2s, transform .5s, box_shadow .5s;
   
  }
  .a:hover{
    box-shadow: 6px 6px 20px rgba(0,0,0,.6);
    transform:scale(1.04);
  }
  .b{
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    background: #ddd;
    width:32%;
    height:300px;
    border:1px solid #aaa;
    box-shadow: 5px 5px 10px grey;
    margin:.5%;
    vertical-align: middle;
    transition: all 2s, transform .5s, box_shadow .5s;
  }
  .b:hover{
    box-shadow: 6px 6px 20px rgba(0,0,0,.6);
    transform:scale(1.04);
  }
  .c{
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    background:#ddd;
    width:32%;
    height:300px;
    border:1px solid #aaa;
    box-shadow: 5px 5px 10px grey;
    margin:.5%;
    vertical-align: middle;
    transition: all 2s, transform .5s, box_shadow .5s;
  }
  .c:hover{
    box-shadow: 6px 6px 20px rgba(0,0,0,.6);
    transform:scale(1.04);
  }
  @media (max-width:600px){
    .poetry{
      display:flex;
      flex-direction:column;
      max-width:100%;
    }
    .a{
      display:flex;
      width:100%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      padding-bottom:40px;
      margin-bottom:5px;
      margin-top:5px;
    }
     .b{
      display:flex;
      width:100%;
      height:auto;
      padding-bottom:40px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:5px;
      margin-top:5px;
    }
     .c{
      display:flex;
      width:100%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      padding-bottom:40px;
      margin-bottom:5px;
      margin-top:5px;
    }
    .aq{
      font-size:.8em;
    }
  }
  .name{
    text-align:center;
    padding: 20px;
    text-shadow:.5px .5px 1px grey;
  }
  
  /*Form Section CSS Design*/
  
  .one{
    display:block;
    text-align:center;
    
  }
  .box1{
    font-family: 'Abril Fatface', cursive;
    padding-top:3em;
    padding-bottom:1em;
    font-size: 2.5em;
    text-transform:uppercase;
    word-spacing:10px;
    letter-spacing:4px;
  }
  @media (max-width:600px){
    .box1{
      font-size: 1.8em;
    }
  }
  #form{
    position:relative;
   
  }
  #email{
    font-family: 'Nunito', sans-serif;
    word-spacing:8px;
    text-transform:uppercase;
    width:50%;
    text-align:center;
    letter-spacing:2px;
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 4px;
    margin:1em;
  }
  #submit{
    font-family: 'Nunito', sans-serif;
    width: 20%;
    border:none;
    padding:.9em;
    margin:2em;
    font-weight:800;
    letter-spacing:2px;
    font-size:1.3em;
    cursor:pointer;
    background-color:#ddd;
  }
  #submit:hover{
    background-color:grey;
  }
  @media (max-width:600px){
    #submit, #email{
      padding:.5em;
      margin:1em;
      letter-spacing:0;
      font-size:9px;
    }
  }
  
  .two{
    display:flex;
    justify-content:center;
    
  }
  iframe{
    border:2px solid #ccc;
    margin:3em;
    max-width:560px;
    width:100%;
  }
  @media (max-width:600px){
    iframe{
      height:auto;    
      width: 100%;
    }
  }
  
  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 40px;
  }
  #foot{
    display:flex;
    justify-content: center;
    padding-top:30px;
  }
  span{
    display:flex;
    justify-content:space-around;
    padding-top:10px;
    margin-top:30px;
    margin-bottom:0;
  }
  @media(max-width:600px){
    footer{
      margin-top:10px;
    }
    #foot{
      display:flex;
      flex-direction:column;
      align-items:flex-start;
    }
  }
  
  
  
  
  